<style>
  * {
    box-sizing: border-box;
  }
</style>
<section>
  <h1 class="text-7xl text-center font-bold text-orange-500 py-5">
    <%= title %>
  </h1>

  <div class="grid grid-cols-3 p-5 gap-4 w-[60%] m-auto">
    <% menu.forEach((pizza) => { %>

    <div class="shadow-md rounded-md">
      <div>
        <img
          class="w-full h-52 object-cover"
          src="<%= pizza.img_link %> "
          alt=""
        />
      </div>

      <div class="px-4 pb-5">
        <h2 class="text-xl py-1"><%= pizza.type %></h2>
        <div class="h-[150px]">
          <p><%= pizza.description %></p>
        </div>
        <div>
          <p class="text-3xl py-2 font-bold">$ <%= pizza.price %></p>

          <div class="text-center">
            <a
              href="/order/<%= pizza.id %> "
              class="font-bold bg-orange-500 text-white p-5 block"
            >
              ORDER
            </a>
          </div>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</section>
